# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
env/
.venv/
.env/
myenv/

# Jupyter Notebook
.ipynb_checkpoints/

# macOS
.DS_Store

# Editors
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw*
